/**
*	Top Nav
*/

.top-nav {
	position: relative;
}

.top-nav .secondary-logo {
	display: none;
}

.top-nav .left-nav {
	margin: 0!important;
	left: 0!important
}

.top-nav .left-nav li a,
.top-nav .left-nav li ul li a {
	font-size: 14px!important;
}
.nav-back{
	display:none!important;
}

/**
*	Injected Header
*/

#injected-header {
	
}


/**
*	Injected Footer
*/

#injected-footer {
	
}

/**
*	Bug Fixes
*/

/*-- Bootstrap CTA fix --*/
.single-page .cta.hide{
    display:block!important;
}



/*-- TODO: Remove Mobile Back Button --*/